/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  /*===== Colors =====*/
  --first-color: #FCA4A6;
  --first-color-dark: #C1576A;
  --first-color-darken: #A83E51;
  --white-color: #FCF8F8;
  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2.5rem;
  --normal-font-size: .938rem;
  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

h1, p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 3.5rem 1.5rem 0;
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.nav__close {
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__close, .nav__link, .nav__logo, .nav__toggle {
  color: var(--white-color);
}

.nav__link:hover {
  color: var(--first-color-dark);
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  background-color: var(--first-color);
  overflow: hidden;
}

.home__container {
  height: calc(100vh - var(--header-height));
  -ms-grid-rows: (max-content)[2];
      grid-template-rows: repeat(2, -webkit-max-content);
      grid-template-rows: repeat(2, max-content);
  row-gap: 1.5rem;
}

.home__img {
  position: relative;
  padding-top: 1.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 302px;
  height: 233px;
}

.home__img img {
  position: absolute;
  top: 0;
  left: 0;
}

.home__data {
  color: var(--white-color);
}

.home__title {
  font-size: var(--big-font-size);
  line-height: 1.3;
  margin-bottom: 1rem;
}

.home__description {
  margin-bottom: 2.5rem;
}

.home__button {
  display: inline-block;
  background-color: var(--first-color-dark);
  color: var(--white-color);
  padding: 1.125rem 2rem;
  border-radius: .5rem;
}

.home__button:hover {
  background-color: var(--first-color-darken);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin-left: 3rem;
    margin-bottom: 0;
  }
  .home__container {
    height: 100vh;
    -ms-grid-columns: (max-content)[2];
        grid-template-columns: repeat(2, -webkit-max-content);
        grid-template-columns: repeat(2, max-content);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    row-gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 375px;
    height: 289px;
  }
  .home__img img {
    width: 375px;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home__container {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-column-gap: 4.5rem;
            column-gap: 4.5rem;
  }
  .home__img {
    width: 604px;
    height: 466px;
  }
  .home__img img {
    width: 604px;
  }
}
